$arrowColor: #0033a1;

.sort-header {
  display: flex;
  cursor: pointer;
}

.sort-title {
  order: 1;
  font-size: 18px;
  font-weight: bold;
  overflow-wrap: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  word-break: keep-all;
  @media (max-width: 767px) {
    font-size: 17px;
  }
}

.arrow-icon-up {
  height: 20px;
  width: 20px;
  top: 8px;
  position: relative;
  left: 6px;
  fill: $arrowColor;
}

.arrow-icon-down {
  height: 20px;
  width: 20px;
  fill: $arrowColor;
}

.sort-arrow {
  margin-left: 8px;
  order: 2;
  height: fit-content;
  margin-top: auto;
  margin-bottom: auto;
}

.no-arrow {
  display: none;
}
