.MainMenu {
  padding-top: 14px;
  border-bottom: none;
  background-color: transparent;
  color: white;
  * {
    border-bottom: none !important;
  }
  li {
    text-transform: uppercase;
    &.ant-menu-item-selected, :hover, &.ant-menu-item-active {
      color: #35b6b4 !important;
    }
    &.ant-menu-item-selected {
      border-bottom: 4px solid #35b6b4 !important;
    }
  }
}