.Banner {
  background-image: url("../../../assets/images/venezuela-10apr-2018.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  .Content {
    padding: 0 50px;
    .Card {
      position: absolute;
      margin-top: 60px;
      width: 550px;
      height: 325px;
      background: rgba(0, 51, 161, .7);
      box-shadow: 6px 6px 6px 0 rgba(0, 0, 0, 0.16);
      border: none;
      .Title {
        font-size: 32px;
        font-weight: 300;
        line-height: 1.36;
        color: #ffffff;
      }
      .Description {
        color: #ffffff;
        font-size: 20px;
      }
      .Detail {
        padding-top: 20px;
        color: #ffffff;
        font-size: 17px;
      }
    }
  }
}