@import "../../../styles/variables";

.Home {
  background: white;
  .Graphs {
    background: white;
    margin-bottom: 20px;
    .Pad {
      padding: 0 30px 0 30px;
      .Button {
        width: 100%;
        background-color: $blue;
        color: white;
        text-transform: uppercase;
      }
    }
  }
}