@import "../../../styles/variables";

.PieReCharts {
  padding: 30px 30px 10px 30px;
  height: 560px;
  .Title {
    font-size: 18px;
    color: #262626;
    text-align: center;
    min-height: 40px;
    max-height: 40px;
  }
  ul {
    list-style-type: none;
    padding: 0;
    li {
      height: 60px;
      .dot, .name {
        display: inline-block;
        height: 34px;
      }
      .name {
        width: 90%;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 18px;
        max-height: 34px;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
      .name {
        width: 90%;
      }
      .antd-pro-charts--pie-dot, .dot {
        border-radius: 8px;
        margin-right: 8px;
        height: 8px;
        width: 8px;
        position: inherit;
        margin-top: 5px;
        vertical-align: top;
      }
      &:after {
        content: "";
        margin: 10px 0;
        display: block;
        border-bottom: $borderLight;
      }
      .ant-divider, .antd-pro-charts--pie-percent, .antd-pro-charts--pie-value {
        display: none;
      }
    }
  }
  .g2-tooltip-list {
    li {
      &:after {
        border-bottom: none !important;
      }
    }
  }
  .antd-pro-charts--pie-legendTitle {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 90%;
    display: inline-block;
  }
  .antd-pro-charts--pie-total {
    display: none;
  }
  .recharts-tooltip-wrapper {
    z-index: 100;
  }
  .recharts-tooltip-wrapper {
    opacity: 0.85;
  }
}