* {
    font-family: "Open Sans";
}

.Path-38381 {
    background-color: #0033a1;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.Logo {
    height: 60px;
    margin-left: -20px;
}

.Content {
    padding: 0 50px;
}