@media only screen and (min-width: 1100px) {
  .container-fluid {
    padding: 0 50px !important;
  }
}
/* Override Ant Menu Style */
.ant-menu {
  * {
    border-bottom: none !important;
  }
  li {
    text-transform: uppercase;
    &.ant-menu-item-selected {
      border-bottom: 4px solid #35b6b4 !important;
    }
  }
}