@import "../styles/variables";

.Content {
  padding: 0 50px;
  .Breadcrumb {
    padding: 7px 0;
    border-bottom: $border;
    color: $breadcrumbColor;
    .Active {
      color: $breadcrumbColorActive;
    }
  }
  .Search button {
    padding: 0 10px;
  }
  .Border.Bottom {
    border-bottom: $border;
    padding-bottom: 15px;
  }
  .Filters .Badge .ant-badge-count {
    background-color: #f7c989;
  }
  tr > th {
    background: white;
    font-weight: bolder;
    font-size: 15px;
    color: $blue;
  }
  h2 {
    color: #737373;
  }
  .Pagination {
    margin: 8px 0;
  }
  .leaflet-control-attribution.leaflet-control {
    display: none;
  }
  .ShadowBox {
    box-shadow: $boxShadow;
  }
  tbody > tr > td {
    word-break: normal !important;
  }
  .Filters {
    button {
      background-color: #418fde;
    }
  }
  th.Money, td.Money {
    text-align: right !important;
  }
  .ServiceTable {
    margin-bottom: 30px;
  }
}
.Banner .Field {
  margin-top: 20px;
}
.Footer {
  margin-top: 15px;
}
h2.Title, .Title {
  color: #1f4283;
}
.gm-style-cc {
  display:none;
}
th.columnMoney, td.columnMoney {
  text-align: right !important;
}
.Content.Top {
  margin: 30px 0;
}
.About .ant-table-thead th {
  background-color: #fafafa !important;
}
.SearchFilter {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}
.ant-table-thead th {
  font-weight: bold;
}
.recharts-tooltip-wrapper {
  opacity: 0.85;
}
.ant-pagination {
  float: left !important;
}
.ant-pagination-item-active {
  color: white !important;
  background-color: $blue;
  border-color: white;
}
.ant-pagination-item-active a {
  color: white;
}
.Filters h3 {
  font-size: larger;
  font-weight: bolder;
}
.ant-collapse-header {
  font-weight: bolder;
}
.Home, .Services, .Service, .Projects, .Project, .Donors, .Donor, .Countries, .Country, .About  {
  min-width: 1400px;
}

/* Responsive */
@media only screen and (min-width: 1100px) {
  .container-fluid {
    padding: 0 50px !important;
  }
  .tree-map {
    font-size: 30px;
  }
}
@media only screen and (max-width: 767px) {
  .tree-map {
    font-size: 20px;
  }
}

/* Override Ant Menu Style */
.ant-menu {
  * {
    border-bottom: none !important;
  }
  li {
    text-transform: uppercase;
    &.ant-menu-item-selected {
      border-bottom: 4px solid #35b6b4 !important;
    }
  }
}
.transparent-white {
  background: rgba(255, 255, 255, 0.7);
}
.am-drawer-content {
  padding-top: 0 !important;
}
.am-drawer-draghandle {
  background-color: transparent;
}
.recharts-tooltip-wrapper {
  opacity: 0.85;
}

/* Table */
.ant-table-thead > tr > th {
  background-color: transparent;
  font-size: large;
  color: $blue;
}
th.number, td.number {
  text-align: right !important;
}
.ant-pagination {
  float: left !important;
}
.ant-pagination-item-active {
  color: white !important;
  background-color: $blue;
  border-color: white;
}
.ant-pagination-item-active a, .ant-pagination-item-active a:hover, .ant-pagination-item-active:hover {
  color: white !important;
}
tbody > tr > td {
  word-break: normal !important;
}

/* Default */
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
  font-size: 16px;
}