.leaflet-control-attribution.leaflet-control {
    display: none;
}

.Countries .Content {
    padding: 0 50px;
}

.Countries .Content {
    background: white;
}

.Countries .Content .Breadcrumb {
    padding: 7px 0;
    border-bottom: solid 1px #d0d0d0;
    margin-bottom: 5px;
}

.Countries .Content .Breadcrumb, .Countries .Content .Breadcrumb a {
    font-size: 12px;
    color: #262626;
}

.Countries .Content .Breadcrumb .Active {
    color: #418fde;
}

.Countries .Content .Title {
    color: #262626;
}

.Countries .Content .Description {
    padding-bottom: 20px;
}

.Countries .Content .ShadowBox {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.Countries input, .Countries .Select, .Countries .ant-select-selection, .Countries .ant-input {
    border-radius: 0;
}

.Countries .Search button {
    background-color: #418fde;
    border-color: #418fde;
    padding: 0 10px;
}

.Countries .Border.Bottom {
    border-bottom: solid 1px #d0d0d0;
    padding-bottom: 15px;
}

.Countries .CountriesTable tr > th {
    background: white;
    font-weight: bold;
    color: #0033a1;
}

.Countries .ant-pagination {

}