.ant-menu-horizontal > * {
    border-bottom: none !important;
}

.MainMenu {
    padding-top: 14px;
    background-color: #0033a1;
    border-right: none;
    border-bottom: none;
}

.MainMenu li {
    color: #f4f4f4 !important;
    text-transform: uppercase;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}

.MainMenu li.ant-menu-item-selected {
    color: #35b6b4 !important;
    border-bottom: 4px solid #35b6b4 !important;
}

.MainMenu li:hover {
    color: #35b6b4 !important;
}

.Share {
    padding-top: 5px;
}

.Share > button {
    color: #0033a1;
    margin-left: 8px;
}

.Share > button:hover {
    color: #35b6b4;
}