.MainFooter {
    color: white;
    background-color: #0033a1;
}

.MainFooter .Title {
    color: white;
    font-size: 17px;
}

.MainFooter button {
    color: #0033a1;
}

.MainFooter button:hover {
    color: #35b6b4;
}