@import "../../variables";
@import "../../../../node_modules/leaflet/dist/leaflet.css";

.supportLegend {
  background: white;
  border-radius: 3px;

  >div {
    width: 100px;
    padding: 10px 10px 5px 10px;
  }

  label {
    font-weight: bold;
    margin-bottom: 5px;
  }

  .legend-item {
    label {
      margin-bottom: 0;
      font-weight: normal;
      vertical-align: top;
    }
  }
}

#perspective-map {
  a {
    margin-right: 0px;
  }
  .leaflet-legend-color-box {
    margin-right: 5px;
    display: inline-block;
    width: 5px;
    height: 18px;
  }
  .card {
    font-family: "Roboto", sans-serif;
    border-radius: 15px;
  }
  .leaflet-tooltip {
    padding: 0;
    width: 450px;
    border-radius: 15px;
  }
  .card-divider {
    background-color: $primary-bg-color;
    color: $white;
    font-size: 22px;
    overflow: hidden;
    padding: 10px 0 10px 10px !important;
    font-weight: bold !important;
    border-radius: 15px 15px 0 0;
  }
  .card-section {
    .country-data {
      border-bottom: thin solid $primary-bg-color;
      padding: 5px 0 5px 10px;
      h5 {
        margin-bottom: 0;
      }
    }
    .country-icon {
      float: left;
      padding: 0 5px 0 5px;
    }
    .value {
      border-bottom: thin solid $primary-bg-color;
      font-size: 16px;
      padding: 5px 0 5px 10px;
    }
    .info {
      font-size: 12px;
      padding: 15px 0 15px 10px;
    }
  }
  .leaflet-popup-content-wrapper,
  .leaflet-popup-tip {
    background-color: #f7f7f7;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(204, 204, 204, 1);
    -moz-box-shadow: 1px 1px 5px 0px rgba(204, 204, 204, 1);
    box-shadow: 1px 1px 5px 0px rgba(204, 204, 204, 1);
  }
  .leaflet-popup-content {
    margin: 0 !important;
    width: 300px !important;
  }
  .leaflet-container a {
    font-size: 18px;
    margin: 0;
    color: #3398db;
    cursor: pointer;
    font-weight: bold;
    font-family: $fontFamily;
    text-decoration: no-underline;
  }
  .leaflet-popup-content-wrapper {
    border-radius: inherit !important;
    padding: 0 !important;
    background-color: #f7f7f7;
  }
  .leaflet-container a.leaflet-popup-close-button {
    //color: #c3c3c3 !important;
    font-size: 22px;
    display: none;
  }
  .leaflet-zoom-animated {
    //border-radius: 15px;
  }
}

.country-tooltip-container {
  padding: 10px 0 10px 10px;

  a {
    font-size: 16px !important;
  }

  h5 {
    font-size: 18px;
    margin: 0 0 0 10px;
    color: #3398db;
    cursor: default;
    font-weight: bold;
    font-family: $fontFamily;
    max-width: 190px;
  }

  label {
    font-size: 14px;
    margin: 0 0 5px 0;
    color: #454e53;
    font-family: $fontFamily;
    font-weight: normal;
  }

  .inline-block {
    display: inline-block;
  }

  .action-icons {
    float: right;
    vertical-align: middle;
    margin-top: -5px;

    i {
      cursor: pointer;
    }
  }

  .open-icon {
    vertical-align: bottom;
    font-size: 20px !important;
  }
}
