$fontFamily: 'Open Sans';

.confirm-container {
  max-width: 553px;
  width: 70vw;
  max-height: 494px;
  min-height: 350px;
  height: 50vh;

  display: flex;
  flex-direction: column;
  padding: 8%;
}

.confirm-icon {
  color: #3eb3a7;
  font-size: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}

.confirm-title {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  font-family: $fontFamily;
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.37;
  letter-spacing: normal;
  text-align: center;
  color: #3eb3a7;
}

.confirm-desc {
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
  font-family: $fontFamily;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.31;
  letter-spacing: normal;
  text-align: center;
  color: #939495;
}

.confirm-button {
  margin: 26px auto auto auto;
  border-radius: 3px;
  width: 185px;
  height: 42px;
  background-color: #5287b7;
  color: #ffffff;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 14px;
}