@import "../../../styles/variables";

.Countries {
  .Content {
    padding: 0 50px;
    background: white;
    .Breadcrumb {
      padding: 7px 0;
      border-bottom: $border;
      margin-bottom: 5px;
      color: #262626;
      font-size: 12px;
      .Active  {
        color: #418fde;
      }
    }
    .Title {
      color: #262626;
    }
    .Description {
      padding-bottom: 20px;
    }
    .ShadowBox {
      box-shadow: $boxShadow;
    }
    .Search button {
      padding: 0 10px;
    }
    .Border.Bottom {
      border-bottom: $border;
      padding-bottom: 15px;
    }
    .Divider {
      margin: 15px 0;
    }
    .leaflet-control-attribution.leaflet-control {
      display: none;
    }
  }
}