.one-breadcrumb {
  span {
    .ant-breadcrumb-separator{
      font-weight: bold;
      color: #262626;
    }
  }
}

.breadcrumb-link {
  color: #262626 !important;
  &:hover{
    color: #418fde !important;
  }
}