.Project {
  .Banner {
    margin-bottom: 30px;
    .Left, .Right {
      height: 290px;
      padding: 10px 50px;
      .Menu {
        margin-top: 10px;
        background-color: #efefef;
        border-bottom: none;
        line-height: 30px;
        li {
          color: #5d5d5d;
          border-bottom: none;
          &.ant-menu-item-selected {
            color: #1471ce;
            border-bottom: 2px solid #1471ce;
          }
        }
      }
      .Description {
        margin-top: 20px;
        color: #1471ce;
        font-weight: 600;
      }
      a {
        font-weight: 600;
        color: #1471ce;
      }
    }
    .Left {
      background-color: #efefef;
      .Name {
        color: #1471ce;
      }
    }
    .Right {
      background-color: #f27f6d;
      padding-top: 20px;
      color: white;
      font-weight: 600;
      h2 {
        color: white;
      }
    }
    .Title {
      color: #1471ce;
    }
  }
  .Content {
    .Breadcrumb {
      border-bottom: none;
    }
  }
  .ProjectLocation {
    .Title {
      color: #1f4283;
      font-weight: 600;
    }
    margin-bottom: 40px;
  }
}