
.container {
  min-width: 25%;
  width: fit-content;
}

.share-link-icon {
  cursor: pointer;
}

.share-link-input {
  pointer-events: none;
}

.title {
  font-family: 'Open Sans';
  font-size: 28px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #1f4283;
}

.button {
  border-radius: 2px;
  background-color: #418fde;
  color: #ffffff;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 14px;
}
